:root {
    --maincolor: #F2F2F2;
    --secondarycolor: #201A38;
    --ctacolor: #CA96FF;
    --maintext: #2D254B;
    --ak: #EA6DC5;
    --tkj: #FF8311;
    --rpl: #7FE27C;
    --important: #FA4659;
    --hovercta: #BC7EFB;
}